<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <ul class="nav" style="position: absolute;right: 0;">
        <!-- <li class="nav-item">
          <a class="nav-link active text-light" href="#">หน้าหลัก</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light" href="#">วิธีใช้</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">โปรโมชั่น</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">สั่งซื้อ</a>
        </li>
      </ul>
      <img src="/assets/Images/header.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <p class='promote-text-1 text-center mb-0' style="color:steelblue">AMEZ HAIR SERUM ผลิตภัณฑ์ปลูกผมอันดับ 1 ณ
        เวลานี้</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2 bg-dark" style='overflow-x: hidden;'>
      <p class='promote-text-1 text-center mb-0 marquee' style="color: white;">เคยมั้ยที่คุณเจอปัญหาเหล่านี้...
        ปัญหาผมร่วง หัวล้าน ผมบาง หัวเถิก</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <p class='promote-text-1 text-center mb-2 text-dark'>หรือถ้าหากคุณต้องการไว้หนวด เครา คิ้ว จอน</p>
      <!-- <div class='row justify-content-center'> -->
      <!-- <div class='col-md-10 col-lg-10 col-xl-10 col-xs'> -->
      <div class='col-12'>
        <div class="card text-center" style="margin-left: 10%;width: 80%;">
          <div class="card-body p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N3V-mtDubII"
                title="YouTube video player" frameborder="1"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer py-1">
            <p class='promote-text-1 text-center mb-0 text-dark'> ปลูกผมเห็นผล คลิปนี้มีคำตอบ..คลิ๊กดูวิดีโอ..!</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: darkslategray;'>
      <p class='promote-text-1 text-center mb-0' style="color: white;">คุณสมบัติพิเศษของผลิตภัณฑ์อะเมซแฮร์เซรั่ม และ
        อะเมซแฮร์โรเลอร์</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/benefit.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2 bg-dark" style='overflow-x: hidden;'>
      <p class='promote-text-1 text-center mb-0 marquee' style="color: steelblue;">ปลูกผม หนวด เครา คิ้ว จอน
        ผลลัพธ์ที่เห็นได้อย่างชัดเจน</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3" style="background-color: rgba(0,0,0,.03);">
      <p class='promote-text-1 text-center mb-2 text-dark'>ผลลัพธ์จากผู้ใช้งานจริง</p>
      <div class='px-4'>
        <carousel>
          <slide>
            <div class='card before-after'>
              <img src="/assets/Images/beforeAfter/1.PNG" alt="first slide" style="display: block; width: 100%;">
            </div>
          </slide>
          <slide>
            <div class='card before-after'>
              <img src="/assets/Images/beforeAfter/2.PNG" alt="first slide" style="display: block; width: 100%;">
            </div>
          </slide>
          <slide>
            <div class='card before-after'>
              <img src="/assets/Images/beforeAfter/3.PNG" alt="first slide" style="display: block; width: 100%;">
            </div>
          </slide>
          <slide>
            <div class='card before-after'>
              <img src="/assets/Images/beforeAfter/4.PNG" alt="first slide" style="display: block; width: 100%;">
            </div>
          </slide>
          <slide>
            <div class='card before-after'>
              <img src="/assets/Images/beforeAfter/5.PNG" alt="first slide" style="display: block; width: 100%;">
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <p class='promote-text-1 text-center mb-2 text-dark'>อย่าเพิ่งหมดหวังถ้าคุณยังไม่ได้ลอง..!</p>
      <img class='time-line-img' src="/assets/Images/timeline.PNG" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: #1DADDA'>
      <p class='text-center mb-0' style="color: white;font-size: x-large;border-radius: 30px;">สั่งซื้อง่ายๆผ่าน LINE
        <button type="button" class="btn btn-success"
          style='margin-bottom: 6px;border-color: white;'>สอบถามราคา</button>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster1.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster2.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster3.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster4.png" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: #1DADDA'>
      <p class='text-center mb-0' style="color: white;font-size: x-large;border-radius: 30px;">สอบถามข้อมูลได้ตลอด
        <button type="button" class="btn btn-success" style='margin-bottom: 6px;border-color: white;'>สอบถาม</button>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/poster/poster5.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/poster/poster6.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8" style="background-color: #1483A3;">
      <div class='row justify-content-center'>
        <div style="width: 100%;height: 30px;background-color: #1FAAD1;">
        </div>
        <div style="background-color: #1FAAD1;border-radius: 40px;width: 30%;margin-top: -30px;">
          <h1 class='text-white text-center'>ราคา</h1>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class="card-deck px-4 py-2">
          <div class="card">
            <img class="card-img-top product-price-1" src="/assets/Images/productPrice/product_price1.PNG" alt="AMEZ HAIR ROLLER">
            <div class="card-body">
              <h5 class="card-title">AMEZ HAIR ROLLER</h5>
              <p class="card-text">เครื่องนวดกระตุ้นเส้นผมและรากขน</p>
            </div>
            <div class="card-footer">
              <h5 class='m-0'>ราคา 990 บาท</h5>
              <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            </div>
          </div>
          <div class="card">
            <img class="card-img-top product-price-2" src="/assets/Images/productPrice/product_price2.PNG" alt="AMEZ HAIR SERUM">
            <div class="card-body">
              <h5 class="card-title">AMEZ HAIR SERUM</h5>
              <p class="card-text">เซรั่มปลูกผม หนวด เครา คิ้ว จอน</p>
            </div>
            <div class="card-footer">
              <h5 class='m-0'>ราคา 2,680 บาท</h5>
              <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
            </div>
          </div>
        </div>
        <!-- <div class='col-md-6 col-lg-6 col-xl-6'>
          <h4 class='text-center text-white mb-0'>AMEZ HAIR ROLLER</h4>
          <h5 class='text-center text-white'>เครื่องนวดกระตุ้นเส้นผมและรากขน</h5>
        </div>
        <div class='col-md-6 col-lg-6 col-xl-6'>
          <h4 class="text-center text-white mb-0">AMEZ HAIR SERUM</h4>
          <h5 class='text-center text-white'>เซรั่มปลูกผม หนวด เครา คิ้ว จอน</h5>
        </div> -->
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>