.header-image {
    height: auto;
    width: 100%;
}
.promote-text-1 {
    color: steelblue;
    @media (min-width: 992px) {
        font-size: large;
    }
    @media (max-width: 575.98px) {
        font-size: 12px;
        font-weight: bold;
    }
}
.bg-img {
    /* The image used */
    background-image: url("/assets/Images/header.PNG");

    height: auto;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}
.before-after {
        border-radius: 30px;
        img {
            border-radius: 30px;
        }
}
.time-line-img {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.poster-img {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.product-price-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}
.product-price-2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
