<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/header.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <p class='promote-text-1 text-center mb-0' style="color:steelblue">AMEZ HAIR SERUM ผลิตภัณฑ์ปลูกผมอันดับ 1 ณ
        เวลานี้</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2 bg-dark" style='overflow-x: hidden;'>
      <p class='promote-text-1 text-center mb-0 marquee' style="color: white;">เคยมั้ยที่คุณเจอปัญหาเหล่านี้...
        ปัญหาผมร่วง หัวล้าน ผมบาง หัวเถิก</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <p class='promote-text-1 text-center mb-2 text-dark'>หรือถ้าหากคุณต้องการไว้หนวด เครา คิ้ว จอน</p>
      <!-- <div class='row justify-content-center'> -->
      <!-- <div class='col-md-10 col-lg-10 col-xl-10 col-xs'> -->
      <div class='col-12'>
        <div class="card text-center" style="margin-left: 10%;width: 80%;">
          <div class="card-body p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N3V-mtDubII"
                title="YouTube video player" frameborder="1"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer py-1">
            <p class='promote-text-1 text-center mb-0 text-dark'> ปลูกผมเห็นผล คลิปนี้มีคำตอบ..คลิ๊กดูวิดีโอ..!</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: darkslategray;'>
      <p class='promote-text-1 text-center mb-0' style="color: white;">คุณสมบัติพิเศษของผลิตภัณฑ์อะเมซแฮร์เซรั่ม และ
        อะเมซแฮร์โรเลอร์</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/benefit.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2 bg-dark" style='overflow-x: hidden;'>
      <p class='promote-text-1 text-center mb-0 marquee' style="color: steelblue;">ปลูกผม หนวด เครา คิ้ว จอน
        ผลลัพธ์ที่เห็นได้อย่างชัดเจน</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3" style="background-color: rgba(0,0,0,.03);">
      <p class='promote-text-1 text-center mb-2 text-dark'>ผลลัพธ์จากผู้ใช้งานจริง</p>

    </div>
  </div>
</div>
<router-outlet></router-outlet>