<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <ul class="nav" style="position: absolute;right: 0;">
        <!-- <li class="nav-item">
          <a class="nav-link active text-light" href="#">หน้าหลัก</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link text-light" href="#">วิธีใช้</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">โปรโมชั่น</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">สั่งซื้อ</a>
        </li> -->
      </ul>
      <img src="/assets/Images/header.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2">
      <img src="/assets/Images/wording/wording1.png" class='wording' alt="...">
      <!-- <p class='promote-text-1 text-center mb-0' style="color:steelblue">AMEZ HAIR SERUM ผลิตภัณฑ์ปลูกผมอันดับ 1 ณ
        เวลานี้</p> -->
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2 bg-dark" style='overflow-x: hidden;'>
      <p class='promote-text-1 text-center mb-0 marquee' style="color: white;">เคยมั้ยที่คุณเจอปัญหาเหล่านี้...
        ปัญหาผมร่วง หัวล้าน ผมบาง หัวเถิก</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <p class='promote-text-2 text-center mb-2 text-dark'>หรือถ้าหากคุณต้องการไว้หนวด เครา คิ้ว จอน</p>
      <!-- <div class='row justify-content-center'> -->
      <!-- <div class='col-md-10 col-lg-10 col-xl-10 col-xs'> -->
      <div class='col-12'>
        <div class="card text-center" style="margin-left: 10%;width: 80%;">
          <div class="card-body p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N3V-mtDubII"
                title="YouTube video player" frameborder="1"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-footer py-1">
            <p class='promote-text-1 text-center mb-0 text-dark'> ปลูกผมเห็นผล คลิปนี้มีคำตอบ..คลิ๊กดูวิดีโอ..!</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <div class="row justify-content-center">
    <div class='col-md-8 col-lg-8 col-xl-8 px-0' style='overflow-x: hidden;'>
      <div class='border-block'>
        <img src="/assets/Images/rectanger/rec1.png" class="header-image" alt="...">
        <p class='text-center mb-0' style="color: white;">คุณสมบัติพิเศษของผลิตภัณฑ์อะเมซแฮร์เซรั่ม และ
          อะเมซแฮร์โรเลอร์</p>
      </div>

    </div>
    <!-- <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: darkslategray;'>
      <p class='promote-text-1 text-center mb-0' style="color: white;">คุณสมบัติพิเศษของผลิตภัณฑ์อะเมซแฮร์เซรั่ม และ
        อะเมซแฮร์โรเลอร์</p>
    </div> -->
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/properties/properties.PNG" class="header-image" alt="...">
      <!-- <img src="/assets/Images/benefit.PNG" class="header-image" alt="..."> -->
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: black;'>
      <!-- <p class='promote-text-1 text-center mb-0 marquee' style="color: steelblue;">ปลูกผม หนวด เครา คิ้ว จอน
        ผลลัพธ์ที่เห็นได้อย่างชัดเจน</p> -->
      <p class='promote-text-2 text-center mb-0'>ปลูกผม หนวด เครา คิ้ว จอน
        ผลลัพธ์ที่เห็นได้อย่างชัดเจน</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3" style="background-color: rgba(0,0,0,.03);">
      <img src="/assets/Images/wording/wording2.png" class='wording-image' alt="...">
      <!-- <p class='promote-text-1 text-center mb-2 text-dark'>ผลลัพธ์จากผู้ใช้งานจริง</p> -->
      <div class='px-4'>
        <carousel [showIndicators]="false">
          <slide>
            <!-- <div class='card before-after'> -->
            <img src="/assets/Images/beforeAfter/1.PNG" alt="first slide" style="display: block; width: 100%;">
            <!-- </div> -->
          </slide>
          <slide>
            <!-- <div class='card before-after'> -->
            <img src="/assets/Images/beforeAfter/2.PNG" alt="first slide" style="display: block; width: 100%;">
            <!-- </div> -->
          </slide>
          <slide>
            <!-- <div class='card before-after'> -->
            <img src="/assets/Images/beforeAfter/3.PNG" alt="first slide" style="display: block; width: 100%;">
            <!-- </div> -->
          </slide>
          <slide>
            <!-- <div class='card before-after'> -->
            <img src="/assets/Images/beforeAfter/4.PNG" alt="first slide" style="display: block; width: 100%;">
            <!-- </div> -->
          </slide>
          <slide>
            <!-- <div class='card before-after'> -->
            <img src="/assets/Images/beforeAfter/5.PNG" alt="first slide" style="display: block; width: 100%;">
            <!-- </div> -->
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2">
      <p class='promote-text-3 text-center mb-0 text-dark'>อย่าเพิ่งหมดหวังถ้าคุณยังไม่ได้ลอง..!</p>
      <img class='time-line-img' src="/assets/Images/timeline2.PNG" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: #1DADDA'>
      <p class='text-center mb-0'>
        <!-- <span class='text-white ask-label'></span> -->
        <!-- <button type="button" class="btn btn-success ask-btn">สอบถามราคา</button> -->
        <img src="/assets/Images/button/label1.png" alt="..." style="width: 40%;">
        <img class='btn-contact btn' src="/assets/Images/button/button1.png" alt="..." style='margin-top:10px;width:40%;'>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-0">
      <img class='wording-step-image' src="/assets/Images/wording/wording3.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-0">
      <img class='wording-step-image-2' src="/assets/Images/wording/wording4.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 pt-3">
      <img id='roller' class='step-img btn' [src]="rollerImg" alt="..." (click)='changeRollerImg()'>
      <!-- <img id='roller2' class='step-img btn' src="/assets/Images/step/roller2.png" alt="..." (click)='changeRollerImg()'> -->
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 pt-0 pb-4">
      <img id='serum' class='step-img btn' [src]="serumImg" (click)='changeSerumImg()' alt="..." >
      <!-- <img class='step-img btn d-none' src="/assets/Images/step/serum2.png" alt="..." (click)='serum = !serum'> -->
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster1.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster2.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster3.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3">
      <img class='poster-img' src="/assets/Images/poster/poster4.png" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: #1DADDA'>
      <p class='text-center mb-0'>
        <span class='text-white ask-label'>สอบถามข้อมูลได้ตลอด 24 ช.ม.</span>
        <!-- <button type="button" class="btn btn-success ask-btn">สอบถาม</button> -->
        <!-- <img src="/assets/Images/button/label2.png" alt="..."> -->
        <img class='btn-contact btn' src="/assets/Images/button/button2.png" alt="..." style='width: 35%;'>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/poster/poster5.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0">
      <img src="/assets/Images/poster/poster6.PNG" class="header-image" alt="...">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 pb-4" style="background-color: #104756;">
      <!-- #1483A3 -->
      <div class='row justify-content-center'>
        <div style="width: 100%;height: 30px;background-color: #1FAAD1;">
        </div>
        <div style="background-color: #1FAAD1;border-radius: 40px;width: 30%;margin-top: -30px;">
          <h1 class='text-white text-center mb-0'>ราคา</h1>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-md-6 col-sm-6 col-6'>
          <img class='product-price' src="assets/Images/productPrice/roller_title.png">
          <img class='product-price' src="assets/Images/productPrice/roller_detail.png">
        </div>
        <div class='col-md-6 col-sm-6 col-6'>
          <img class='product-price' src="assets/Images/productPrice/serum_title.png">
          <img class='product-price' src="assets/Images/productPrice/serum_detail.png">
        </div>
        <!-- <div class='col-md-12'> -->
        <!-- <div class="row">
            <div class="col-md-6">
              <img class='w-100' src="assets/Images/productPrice/roller_title.png">
            </div>
            <div class="col-md-6">
              <img class='w-100' src="assets/Images/productPrice/serum_title.png">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class='w-100' src="assets/Images/productPrice/roller_detail.png">
            </div>
            <div class="col-md-6">
              <img class='w-100' src="assets/Images/productPrice/serum_detail.png">
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="card-deck px-4 py-2">
          <div class="card">
            <img class="card-img-top product-price-1" src="/assets/Images/productPrice/product_price1.PNG"
              alt="AMEZ HAIR ROLLER">
            <div class="card-body">
              <h5 class="card-title">AMEZ HAIR ROLLER</h5>
              <p class="card-text">เครื่องนวดกระตุ้นเส้นผมและรากขน</p>
            </div>
            <div class="card-footer">
              <h5 class='m-0'>ราคา 990 บาท</h5>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top product-price-2" src="/assets/Images/productPrice/product_price2.PNG"
              alt="AMEZ HAIR SERUM">
            <div class="card-body">
              <h5 class="card-title">AMEZ HAIR SERUM</h5>
              <p class="card-text">เซรั่มปลูกผม หนวด เครา คิ้ว จอน</p>
            </div>
            <div class="card-footer">
              <h5 class='m-0'>ราคา 2,680 บาท</h5>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='overflow-x: hidden;background-color: #1DADDA'>
      <!-- <p class='text-center mb-0'><span class='text-white ask-label'>PROMOTION</span>
      </p> -->
      <h1 class='text-center mb-0 text-white'>PROMOTION</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='background-color: rgba(0,0,0,.03);'>
      <img class='promotion-label-1' src="/assets/Images/promotion/label1.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3" style='background-color: rgba(0,0,0,.03);'>
      <img class='promotion-image' src="/assets/Images/promotion/promotion1.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3" style='background-color: rgba(0,0,0,.03);'>
      <img class='promotion-image' src="/assets/Images/promotion/promotion2.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-3" style='background-color: rgba(0,0,0,.03);'>
      <img class='promotion-image' src="/assets/Images/promotion/promotion3.png" alt="...">
    </div>
    <div class="col-md-8 col-lg-8 col-xl-8 px-0 py-2" style='background-color: rgba(0,0,0,.03);'>
      <img class='promotion-label-1' src="/assets/Images/promotion/label2.png" alt="...">
    </div>
  </div>
  <router-outlet></router-outlet>