.home-menu {
    color: white;
    @media (min-width: 1200px) {
        // font-weight: bold;
        font-size: xxx-large;
    }
    @media (max-width: 992px) {
        // font-weight: bold;
        font-size: xx-large;
    }
    @media (max-width: 575.98px) {
        // font-weight: bold;
        font-size: larger;

        padding: 0.1rem 0.5rem;
    }
}
.home-menu:hover {
    font-weight: bold;
}
.header-image {
    height: auto;
    width: 100%;
}
.wording-image {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wording-step-image {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wording-step-image-2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.carousel {    
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px) {
        width: 70%;
    }
    @media (max-width: 575.98px) {
        width: 100%;
    }
}
.slide-image {
    // margin-left: auto;
    // margin-right: auto;
    width: 100%;
    display: block;
}
.promote-text-1 {
    color: steelblue;
    @media (min-width: 992px) {
        font-size: x-large;
    }
    @media (max-width: 575.98px) {
        font-size: medium;
    }
}
.promote-text-2 {
    // color: steelblue;
    color: #00aee6;
    @media (min-width: 992px) {
        font-size: xx-large;
    }
    @media (max-width: 575.98px) {
        font-size: medium;
    }
}
.promote-text-3 {
    // color: steelblue;
    @media (min-width: 992px) {
        font-size: xxx-large;
    }
    @media (max-width: 575.98px) {
        font-size: x-large;
    }
}
.border-block {
    position: relative;
    text-align: center;
    color: white;
    padding: 0;
    p {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        @media (min-width: 992px) {
            font-size: xxx-large;
        }
        @media (max-width: 575.98px) {
            font-size: medium;
        }
    }
    //  {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     // width: 100%;
    // }
}
.price-block {
    position: relative;
    text-align: center;
    padding: 0;
    // background-image: url('/src/assets/Images/productPrice/bg.png');
}
.bg-img {
    /* The image used */
    background-image: url("/assets/Images/header.PNG");

    height: auto;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}
.before-after {
    border-radius: 30px;
    img {
        border-radius: 30px;
    }
}
.time-line-img {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.poster-img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.step-img {
    width: 93%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.product-price {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.product-price-1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.product-price-2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.wording {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}
.ask-btn {
    border-color: white;
    border-radius: 20px;
    font-size: x-large;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 1px;
    margin-bottom: 10px;
}
.ask-label {
    margin-right: 20px;
    font-size: x-large;
}
.promotion-label-1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.promotion-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    // @media (min-width: 992px) {
    //     width: 100%;
    // }
    // @media (max-width: 575.98px) {
    //     width: 80%;
    // }   
}
.promotion-price {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:90%
}
.btn-contact {
    padding: 0;
}
.bg-price{
    background-image: url('../assets/Images/productPrice/bg.png');
    background-position: center;
    background-size: cover;
}
// .bg-price-title {
//     background-image: url('../assets/Images/productPrice/bg_title.png');
//     width: 100%;
//     height: 85px;
//     background-position: center;
// }
.bg-promotion{
    background-image: url('../assets/Images/promotion/bg.png');
    background-position: center;
    background-size: cover;
}
.promotion-item {
    margin-left:auto;
    margin-right:auto;
}
.border-2 {
    background-image: url('../assets/Images/rectanger/rec3.png');
    // border-radius: 5px;
    background-position: center;
}
.border-3 {
    background-image: url('../assets/Images/rectanger/rec2.png');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    p{
        @media (min-width: 992px) {
            font-size: xx-large;
        }
        @media (max-width: 575.98px) {
            font-size: large;
        }
    }
    img{
        // margin-top: 2%;
        width:30%;
    }
}
.contact-line {
    background-image: url('../assets/Images/contact/bg_line.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: contain;
    padding: 1rem;
    img{
        width:60%;
    }
}
// .contact-facebook{
//     background-image: url('../assets/Images/contact/facebook.png');
//     background-repeat: no-repeat;
//     background-position: center;
//     text-align: center;
//     background-size: contain;
// }
.copy-right {
    @media (min-width: 992px) {
        font-size: larger;
    }
    @media (max-width: 575.98px) {
        font-size: 0.7rem;
    }
    color:white;
    margin:0;
    text-align: center;
    .contact-link{
        color:#00B7FF;
    }
}
.text-prop {
    @media (min-width: 992px) {
        font-size: xxx-large;
    }
    @media (max-width: 575.98px) {
        font-size: large;
    }
    text-align: center;
}
.pointer{
    cursor: pointer;
}




///////////////////////// scoll to top ////////////////////
.scroll-top.on {
    right: 20px;
    opacity: 1;
    z-index: 109;
}
.scroll-top:hover {
    background-color: #000;
    background-color: rgba(0,0,0,.5);
}
.scroll-top {
    border-radius: 30px;
    position: fixed;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    right: 20px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: -1;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity .4s ease;
    background-color: #000;
    background-color: rgba(0,0,0,.3);
    text-decoration: none;
}
i.fa {
    color: #fff;
}